<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Cadastro de Clientes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <img src="https://unltdsneakers.com.br/cdn/shop/files/Logo_UNLTD_PRETO.png?v=1706637188&width=2000"
            alt="Logo UNLTD Sneakers" class="logo">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
        </style>

        <h1>Sistema de Cadastro de Clientes</h1>
    </header>

    <div class="nav-links">
        <a th:href="@{/cadastro}">Cadastrar Clientes</a>
        <a th:href="@{/listagem}">Listar Clientes</a>
        <a th:href="@{/cadastroProduto}">Cadastrar Produtos</a>
    </div>
</body>

</html>