<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>O cliente foi cadastrado com sucesso!</h1>
    <h2>Volta para a página principal para.</h2>
    <div class="nav-links">
        <a th:href="@{/cadastro}">Cadastrar Novo Cliente</a>
        <a th:href="@{/listagem}">Listar Clientes</a>
    </div>
</body>
</html>
